@import "tailwindcss";

@theme {
  --font-main-font: 'Cormorant Garamond', 'serif';
  --font-roboto_font: 'Roboto', 'sans-serif';
  --font-new_york_font: 'New York', 'sans-serif';
  --font-infant_font: 'Cormorant Infant', 'serif';
  --color-myGreen2: #6c715c;
  --color-taplinkGrey: #e5e5e5;
  --color-taplinkGrey2: #cecece;
  --text-32: 32px;
  --text-31: 31px;
  --text-30: 30px;
  --text-29: 29px;
  --text-28: 28px;
  --text-27: 27px;
  --text-26: 26px;
  --text-25: 25px;
  --text-24: 24px;
  --text-23: 23px;
  --text-22: 22px;
  --text-21: 21px;
  --text-20: 20px;
  --text-19: 19px;
  --text-18: 18px;
  --text-17: 17px;
  --text-16: 16px;
  --text-15: 15px;
  --text-14: 14px;
  --text-13: 13px;
  --text-12: 12px;
  --text-11: 11px;
  --text-10: 10px;
  --text-9: 9px;
  --text-8: 8px;
  --leading-11: 1.1;
  --leading-12: 1.2;
  --leading-13: 1.3;
  --leading-14: 1.4;
  --leading-15: 1.5;
  --leading-16: 1.6;
  --leading-17: 1.7;
  --leading-18: 1.8;
  --leading-19: 1.9;

}

@layer base {
  body {
    font-family: "Cormorant Garamond", sans-serif;
  }

  .cormorantInfant {
    font-family: "Cormorant Infant", serif;
  }

  .visually-hidden {
    clip: rect(0 0 0 0); /* Используется только для старых браузеров */
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  input:focus {
    outline: none;
  }

  input:focus-visible {
    outline: 1px solid -webkit-focus-ring-color;
  }
}
